form {
	margin-top: 1em;
}

ul {
	list-style: none;
}

a {
	color: #ec5840;
    font-family: 'Josefin Sans', sans-serif;
}

.breadcrumbs a {
	color: #ec5840;
}

.tabs-title>a {
	color: #ec5840;
}

h1, h2, h3, h4, h5, p, ul, a, button, label, input, form{
    font-family: 'Josefin Sans', sans-serif;}